doctype html
html
  head
    meta(charset="UTF-8")
    title="タイトル"
    //頂点シェーダ
    script#vs(type="x-shader/x-vertex").
        attribute vec3 position;
        attribute vec4 color;
        uniform mat4 mvpMatrix;
        varying vec4 vColor;
        void main(void){
            vColor = color;
            gl_Position = mvpMatrix * vec4(position, 1.0);
        }
    //フラグメントシェーダ
    script#fs(type="x-shader/x-fragment").
        precision mediump float;
        varying vec4 vColor;
        void main(void){
            gl_FragColor = vColor;
        }
        //頂点シェーダ
    script#vertexAction(type="x-shader/x-vertex").
        uniform mat4 mvpMatrix;
        void main(void){
            gl_Position = mvpMatrix * vec4(position, 1.0);
        }
    //フラグメントシェーダ
    script#fragmentAction(type="x-shader/x-fragment").
        precision mediump float;
        varying vec4 vColor;
        void main(void){
            gl_FragColor = vColor;
        }

  body#main
    div#container
    div#container2
    div#container3

    canvas#canvas

    script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.5/dat.gui.min.js")
    script(src="js/bundle.js")
    script(src="js/minMatrix.js")

    